<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="'icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Good Morning, Have a Good Day!!!</p>
        <p>This is about {{about}}. Trained by {{user}}!!!</p>
        <img class='portrait' src="/img/test.jpg"> <!-- /* portrait class for portrait pics*/ -->
    </div>
    {{>footer}}
</body>


</html>